[Unit]
Description=Hestia logger

[Service]
User=debian
Group=debian
Environment=HESTIA_LOG_PATH=/home/debian/data/hestia/logs
Environment=TZ=Australia/Sydney
WorkingDirectory=/home/debian/src/mawson/hestia/hestia-dash/src
ExecStart=/home/debian/src/mawson/hestia/hestia-dash/venv/bin/python -m hestia.logger
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
