[Unit]
Description=UTS payload logger

[Service]
User=debian
Group=debian
Environment=UTS_LOG_PATH=/home/debian/uts/logs
Environment=UTS_I2C_BUS=1,2
Environment=RUST_LOG=info
Environment=RUST_BACKTRACE=1
Environment=TZ=UTC
WorkingDirectory=/home/debian/uts/bin
ExecStart=/home/debian/uts/bin/uts-log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
