[Unit]
Description=UTS payload web dashboard

[Service]
User=debian
Group=debian
Environment=UTS_LOG_PATH=/home/debian/uts/logs
Environment=UTS_I2C_BUS=1,2
Environment=UTS_HTTP_PORT=5001
Environment=RUST_LOG=info
Environment=RUST_BACKTRACE=1
Environment=TZ=Australia/Sydney
WorkingDirectory=/home/debian/uts/bin
ExecStart=/home/debian/uts/bin/uts-web
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
