addict==2.4.0
aiofiles==0.8.0
anyio==3.6.1
asgiref==3.5.2
asttokens==2.0.8
bleach==5.0.1
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
commonmark==0.9.1
cycler==0.11.0
demjson3==3.0.5
docutils==0.17.1
fonttools==4.35.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
justpy==0.2.3
keyring==23.8.2
kiwisolver==1.4.4
markdown2==2.4.3
MarkupSafe==2.1.1
matplotlib==3.5.3
nicegui==0.8.0
numpy==1.21.6
packaging==21.3
Pillow==9.2.0
pkginfo==1.8.3
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
readme-renderer==36.0
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.0.1
six==1.16.0
smbus2==0.4.1
sniffio==1.2.0
starlette==0.20.4
twine==4.0.1
typing-extensions==3.10.0.2
urllib3==1.26.11
uvicorn==0.17.6
watchgod==0.7
webencodings==0.5.1
websockets==10.3
zipp==3.8.1
